.body1{
 background-color:#fff;
}
.div1{
width:100%;
height:100%; 
background-image: url('../images/Demo.png);
background-size: cover; /* 确保图片覆盖整个元素 */  
background-position: center; /* 将图片居中显示 */  
min-height: 100vh; /* 确保至少为视口高度 */
}
 h1.fir{
  color:#87CEFA;
  text-align:center;
  font-size:72px;
  position: relative;
  top: 30%;
}
 h2.fir{
  color:#000; 
  text-align:center;
  font-size:64px;
  position: relative;
  top: 32%;
}
li.first {
  color:#000000;
  text-align:left;
  font-size:48px;
}
p.first {
  color:#000000;
  text-align:left;
  font-size:32px;
}
